.main {
    width: 100vw;
    height: 100vh;
    background-color: #363636;
    display: flex;
}

.nav {
    padding: 10px;
    width: 15%;
    height: 100%;
}

.ContentAndPlayer {
    padding: 10px;
    width: 85%;
    height: 100%;
}