.SearchContentPageMain {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #363636;
    box-shadow:  5px 5px 10px #292929,
                -5px -5px 10px #434343;
}

.contentMain {
    display: flex;
    flex-direction: column;
    height: 78%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* width */
.resultsDiv::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.resultsDiv::-webkit-scrollbar-track {
    background: #2c2c2c; 
    border-radius: 6px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #292929; 
}

/* Handle */
.resultsDiv::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
    border-radius: 6px;
}

/* Handle on hover */
.resultsDiv::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.SearchContentPageMain h1 {
    display: inline-block;
    cursor: pointer;
    background-color: #0c995e;
    margin-bottom: 0;
    color: #eee;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0px 15px;
    margin-left: 10px;
    margin-bottom: 40px;
    border-radius: 6px;
    box-shadow: inset 3px 3px 7px #0a8250,
            inset -3px -3px 7px #0eb06c;
}

.contentMain form {
    position: relative;
    margin: 0 10px;
    width: 100%;
}

.contentMain form input {
    border: none;
    height: 100%;
    width: 98%;
    padding: 10px 15px;
    margin: 0px;
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 4px;
    background: #222;
}

.contentMain form input{
    height: 100%;
}

.contentMain form input::placeholder{
    color: #727272;
}

.contentMain form input:focus::placeholder{
    color: #eee;
}

.contentMain form input:focus{
    background: #0c995e;
    box-shadow: 0 0 9px #0c995e;
}

.resultsDiv {
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    height: 100%;
    width: 100%;
}